{# src/Qd/BlogBundle/Resources/views/Blog/lstchrono.html.twig #}

{% extends "QdBlogBundle::layout.html.twig" %}

{% block title %}
    {{ parent() }} - Chronologies
{%  endblock %}

{% block pageTitle %}
    <h2>Chronologies</h2>
{% endblock %}

{% block side %}
    <div class="sidebar sidebar-chrono">
        <div class="hidden-xs panel-heading tag-general">
            <a href="#taggeneral" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">Toute la chronologie 14-18</a>
        </div>
        {% for tag in tags %}
            <div class="hidden-xs panel-heading tag">
                <a href="#tag{{ tag.id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ tag.nom }}</a>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block content %}
    <div class="page page-chrono">
        <aside>
            <a href="https://github.com/NUKnightLab/TimelineJS">Intégration via JSON de TimelineJS</a>
        </aside>

        {%  if chronos is defined and chronos is not null and chronos|length>0 %}
            <div class="panel-group" id="accordion">
                <div class="panel panel-default">
                    <div id="taggeneral" class="hidden-xs panel-collapse collapse in">
                        <div  class="panel-body">
                            <table class="table-responsive table-bordered table-striped">
                                <th class="chrono-title-date">Date</th>
                                <th class="chrono-title-type">Type</th>
                                <th class="chrono-title-desc">Description</th>
                                <th class="chrono-title-about">A propos</th>
                                {% for chrono in chronos %}
                                    {% if chrono.datedebut|date('Y') > '1913' %}
                                        <tr>
                                            <td class="chrono-date"> {{ chrono.datedebut|localizeddate('medium', 'none') }} </td>
                                            <td class="chrono-type"> {{ chrono.tags.nom }}</td>
                                            <td class="chrono-desc"> {{ chrono.description }}</td>
                                        {% if chrono.table is not null %}
                                            <td class="chrono-about">
                                                {% if chrono.table == 'soldat' %}
                                                    <a href="{{ path('qd_blog_soldat', {'id': chrono.idtable}) }}">Détails</a>
                                                {% elseif chrono.table == 'bataille' %}
                                                    <a href="{{ path('qd_blog_bataille', {'id': chrono.idtable}) }}">Détails</a>
                                                {% endif %}
                                            </td>
                                        {% else %}
                                            <td></td>
                                        {% endif %}

                                        </tr>
                                    {% endif %}
                                {% endfor %}
                            </table>
                        </div>
                    </div>

                    {% for tag in tags %}

                        <div class="visible-xs panel-heading">
                            <a href="#tag{{ tag.id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ tag.nom }}</a>
                        </div>
                        <div id="tag{{ tag.id }}" class="panel-collapse collapse">
                            <div  class="panel-body table-responsive ">
                                <table class="table-bordered table-striped table-condensed">
                                    <th class="chrono-title-date">Date</th>
                                    <th class="chrono-title-desc">Description</th>
                                    <th class="chrono-title-about">A propos</th>
                                    {% for chrono in chronos %}
                                        {% if chrono.tags.id == tag.id %}
                                            {% if chrono.datedebut|date('Y') > '1913' %}
                                            <tr>
                                                <td class="chrono-date">{{ chrono.datedebut|localizeddate('medium', 'none') }} </td>
                                                <td class="chrono-desc"> {{ chrono.description }}</td>
                                            {% if chrono.table is not null %}
                                                <td class="chrono-about">
                                                    {% if chrono.table == 'soldat' %}
                                                        <a href="{{ path('qd_blog_soldat', {'id': chrono.idtable}) }}">Détails</a>
                                                    {% elseif chrono.table == 'bataille' %}
                                                        <a href="{{ path('qd_blog_bataille', {'id': chrono.idtable}) }}">Détails</a>
                                                    {% endif %}
                                                </td>
                                            {% else %}
                                                <td></td>
                                            {% endif %}
                                            </tr>
                                        {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                </table>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        {% endif %}
    </div>
{% endblock %}
