{# src/Qd/BlogBundle/Resources/views/Blog/menu.html.twig #}

<div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="{{ path("qd_blog_homepage") }}" >Accueil</a>
</div>

<div class="navbar-collapse collapse">
    <ul class="nav navbar-nav navbar-right">
        {% for menu in liste_menu %}
            {% if menu.id == 4 %}
                <li><a href="{{ path(menu.url) }}" class="navbar-brand">{{ menu.title|localizeddate('medium', 'none') }}</a></li>
            {% else %}
                <li><a href="{{ path(menu.url) }}" >{{ menu.title }}</a></li>
            {% endif %}
        {% endfor %}
    </ul>
 </div>
